# conda-requirements.txt
# Conda packages required for pangaea.
# Create the environment by running the following command (after installing Miniconda):
# os: linux
#   $ conda create -n pangaea
#   $ source activate pangaea
#   (pangaea)$ conda config --add channels conda-forge
#   (pangaea)$ conda install --file=conda-requirements.txt

dask
gdal
netcdf4
pyproj
# pynio does not work on Windows or Python 3
#- pynio
# sloot will be a package soon
#- sloot
wrf-python
